@import './variables.less';

html, body {
    height: 100%;
}

/* 版心 */
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

a {
    color: @f-color;
    &:hover {
        color: @f-color;
    }
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fc-666 {
    color: #666;
}

.fc-333 {
    color: #333;
}
